name: Sync Google Sheet CSV
on:
  # Run every hour
  schedule:
    - cron: '0 * * * *'
  # Allow manual trigger from the Actions tab
  workflow_dispatch:

jobs:
  scheduled_fetch:
    runs-on: ubuntu-latest
    # ADDED: Grants write permission to the default GITHUB_TOKEN for this job
    permissions:
      contents: write 

    steps:
      # 1. Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4
        
      # 2. Run the Flat Data action
      - name: Fetch and commit the arwr.csv
        uses: githubocto/flat@v3
        with:
          downloaded_filename: 'arwr.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTFFpRBp56INVL1XqmHbGBrISvVdzqQ1C3N-sf9xox4oJugyPqYw7OwbxpkyolEjx8BPIkd7mb2ICza/pub?gid=635705779&single=true&output=csv'
        continue-on-error: true

      - name: Fetch and commit the SpringC.csv
        uses: githubocto/flat@v3
        with:
          downloaded_filename: 'SpringC.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQa0NYgMt6C6iQz2B0WJOpqapV_4_qrivfmCriV0CddxN3Ihe1FhfJ-6yXf7rG7g4GJkYzazBHCF50Y/pub?gid=635705779&single=true&output=csv'
        continue-on-error: true

      - name: Fetch and commit the ClassCal.csv
        uses: githubocto/flat@v3
        with:
          downloaded_filename: 'ClassCal.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQa0NYgMt6C6iQz2B0WJOpqapV_4_qrivfmCriV0CddxN3Ihe1FhfJ-6yXf7rG7g4GJkYzazBHCF50Y/pub?gid=489390654&single=true&output=csv'
        continue-on-error: true


      - name: Fetch and commit the MM.csv
        uses: githubocto/flat@v3
        with:
          downloaded_filename: 'MM.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSubWCvIak_wQaqp4Wn7u3FB-v3Y0HqjhI08ypiX8fLMdmjPpAEUzJhc6zbgt8oTJupXEIyvVyiglnq/pub?gid=1371672655&single=true&output=csv'
        continue-on-error: true
    
      - name: Fetch and commit classicsL.csv
        uses: githubocto/flat@v3
        with: 
          downloaded_filename: 'classicsL.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQa0NYgMt6C6iQz2B0WJOpqapV_4_qrivfmCriV0CddxN3Ihe1FhfJ-6yXf7rG7g4GJkYzazBHCF50Y/pub?gid=635705779&single=true&output=csv'
          
