name: Sync Google Sheet CSV
on:
  # Run every hour
  schedule:
    - cron: '0 * * * *'
  # Allow manual trigger from the Actions tab
  workflow_dispatch:

jobs:
  scheduled_fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch and commit the CSV
        uses: githubocto/flat@v3
        with:
          # The exact Google Sheet public export URL
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTFFpRBp56INVL1XqmHbGBrISvVdzqQ1C3N-sf9xox4oJugyPqYw7OwbxpkyolEjx8BPIkd7mb2ICza/pub?gid=745704294&single=true&output=csv'
          # The file name to save the data as in your repo
          path: 'arwr.csv'
          # Use the default GitHub token for committing changes
          commit_message: "Automated data sync from Google Sheet"
          github_token: ${{ secrets.GITHUB_TOKEN }}
