name: Sync Google Sheet CSV
on:
  # This line is indented two spaces from 'on:'
  schedule:
    # This line is indented four spaces from 'on:' (two from 'schedule:')
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  # This line is indented two spaces from 'jobs:'
  scheduled_fetch:
    # This line is indented four spaces from 'jobs:'
    runs-on: ubuntu-latest
    # This line is indented four spaces from 'jobs:'
    steps:
      # This line is indented six spaces from 'jobs:'
      - name: Fetch and commit the CSV
        # This line is indented eight spaces from 'jobs:'
        uses: githubocto/flat@v3
        # This line is indented eight spaces from 'jobs:'
        with:
          # These lines are indented ten spaces from 'jobs:'
          downloaded_filename: 'arwr.csv'
          http_url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTFFpRBp56INVL1XqmHbGBrISvVdzqQ1C3N-sf9xox4oJugyPqYw7OwbxpkyolEjx8BPIkd7mb2ICza/pub?gid=745704294&single=true&output=csv'
          commit_message: "Automated data sync from Google Sheet"
          github_token: ${{ secrets.GITHUB_TOKEN }}
